:root {--step: -140px;    --stepvert: -210px;  }
body{background-color: #010101; margin: 0;touch-action: pan-y; font-family:sans-serif;}

h2 {  font-family:sans-serif;}
h3 {  font-size: 16px;  margin:16px 0 0.3rem;  font-weight: normal;}
h4 {  font-size: 14px;  margin:0 0 0.3rem;  font-weight: normal;  color: #80868b;}

a{  color: #fff;  text-decoration: none;}
p {  margin:0;}
li{width: 148px;margin: 1px;}
img {  max-width: 100%;}
form {color: White;  text-decoration: none !important; width:fit-content; }

input {  font-size: 16px; color: #ccc; background-color: #130f0f; height: 42px ; border:none; height:4em;width:99%; padding-right:1px; margin-right:0px;     padding-left: 1em;;} 
input:focus {  outline:none;  border-color:#aaa;}

.sort {  padding:8px 30px;  border-radius: 6px;  border:none;  display:inline-block;  color:#fff;  text-decoration: none;  background-color: #3c3c3c;  height:34px;  font-size: 16px;  margin:48px;}
.sort:hover {  text-decoration: none;  background-color:#3c3c3c;  cursor: pointer;}
.sort:focus {  outline:none;}
.sort:after {  width: 0;  height: 0;  border-left: 5px solid transparent;  border-right: 5px solid transparent;  border-bottom: 5px solid transparent;  content:"";  position: relative;  top:-10px;  right:-5px;}
.sort.asc:after {  width: 0;  height: 0;  border-left: 5px solid transparent;  border-right: 5px solid transparent;  border-top: 5px solid #fff;  content:"";  position: relative;  top:13px;  right:-5px;}
.sort.desc:after {  width: 0;  height: 0;  border-left: 5px solid transparent;  border-right: 5px solid transparent;  border-bottom: 5px solid #fff;  content:"";  position: relative;  top:-10px;  right:-5px;}

#navbar {  background-color: #130f0f; position: fixed;    padding: 16px;   display:block; z-index:99;  width:99.5%; bottom:0px; height:48px;} 
.list {  display: flex;   flex-wrap: wrap;  font-family:sans-serif;  margin:0;  padding: 16px 0 0;  margin-top:8px;}
.pi {  background-image: url('./2pi-mini.png');  background-repeat: no-repeat;  height: 222px; background-color: #130f0f;}
.container input {    position: absolute;    opacity: 0;   cursor: pointer;  }
.container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    height: auto;
    width: fit-content;
    margin: 1px;
    padding: 8px 16px 8px 16px;
    background-color: #303437;
    border-radius: 4px;
;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container:hover{
    background-color: #000;
  }
  .container input:checked{
    background-color: #fff;
  }

.hideme{
  display:none !important;
}

