:root {
  --step: 111px;   
  --stepvert: 166px; 
  --marge: 7px; 
--bgpage: #010101;
--txtpage: #ffffff;
--txtpage: #ffffff;
}

body{color: var(--txtpage); background-color: var(--bgpage);  margin: 0 !important; touch-action: pan-y; font-family:sans-serif; font-size:1em; }
h2 {  font-family:sans-serif;}
h3 {  font-size: 0.9em;   font-weight: normal;}
h4 {  font-size: 0.8em;  margin:0 0 0.3em;  font-weight: normal;  color: #80868b;}
a{ color: var(--txtpage); text-decoration: none;}
::marker {display: none; color:var(--bgpage);  }
input[type="radio"] { opacity: 0;   cursor: pointer;  display: none;}

label {margin: 1em; color:#ccc;  padding-left: 0.5em;padding-right: 0.5em;  }
label:hover, label:active, input:hover+label, input:active+label {  color:#fff; cursor: pointer; padding-bottom: 0.7em !important;border-bottom: aquamarine 1px solid;}
/*input{height: 42px ;  font-size: 1em; color: #ccc; background-color: #130f0f; } 
input:focus {   }
*/


.list {display: flex;   flex-wrap: wrap;  font-family:sans-serif;  margin:0;  padding: 16px 0 0;  margin-top:8px;     margin-bottom: 100px;}
.movie {width: var(--step);margin: var(--marge);}
.poster {   background-image: url('./poster-map.png');  background-repeat: no-repeat;  height: var(--stepvert); background-color: #130f0f;}
.poster:hover { outline: 1px solid rgb(36, 34, 34);  outline-offset: 2px;}
.star{background-image: url('./assets.svg');  background-repeat: no-repeat; background-position: 0px -58px;  height:14px;     margin-bottom: 4px;}
.star-one {  background-position: 0px -58px; }
.star-two { background-position: 0px -44px;}
.star-three { background-position: 0px -28px;}
.star-four { background-position: 0px -14px; }
.star-five { background-position: 0px 0px; }

.navigation {  background-color:  var(--bgpage); position: fixed; height: 4em;   padding: 16px;  overflow-x:auto;white-space:nowrap; display:block; z-index:99;  width:100%; bottom:0px; opacity: 0.9;} 

.Search{
  width:100% ;height:49px; border:none;
  color: #00ff88;
  padding-left:3em;
  padding-top:1px;  color:rgb(0, 255, 157);
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.1 16.8875C13.5735 16.8875 17.2 13.261 17.2 8.7875C17.2 4.31399 13.5735 0.6875 9.1 0.6875C4.62649 0.6875 1 4.31399 1 8.7875C1 13.261 4.62649 16.8875 9.1 16.8875Z' stroke='%23797171' stroke-width='0.8' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M19.9 19.5875L14.8267 14.5142' stroke='%23797171' stroke-width='0.8' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position:left;
  background-position-x: 1em;
  outline:0;
  background-color:#130f0f;
  }
  
  .Search::-webkit-search-cancel-button{
      position:relative;
      right:20px;  
      -webkit-appearance: none;
      height: 20px;
      width: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 9C18 13.9706 13.9706 18 9 18C4.02944 18 0 13.9706 0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9ZM13.2828 4.71716C13.4391 4.87337 13.4391 5.12663 13.2828 5.28284L9.56569 9L13.2828 12.7172C13.4391 12.8734 13.4391 13.1266 13.2828 13.2828C13.1266 13.4391 12.8734 13.4391 12.7172 13.2828L9 9.56569L5.28284 13.2828C5.12663 13.4391 4.87337 13.4391 4.71716 13.2828C4.56095 13.1266 4.56095 12.8734 4.71716 12.7172L8.43431 9L4.71716 5.28284C4.56095 5.12663 4.56095 4.87337 4.71716 4.71716C4.87337 4.56095 5.12663 4.56095 5.28284 4.71716L9 8.43431L12.7172 4.71716C12.8734 4.56095 13.1266 4.56095 13.2828 4.71716Z' fill='%2300FFB2'/%3E%3C/svg%3E%0A");background-repeat:no-repeat;
      cursor: pointer;
  }







.close-icon  {   background-image: url('./assets.svg');  background-repeat: no-repeat; background-position: 0px -98px;  height:32px; width:32px; }

@media only screen and (min-width: 992px) {
  .navigation {  height:1em !important;}
  li{margin-right: 2em;}
} 


@-webkit-keyframes fadeIn { from {transform-origin: bottom right; opacity:0; transform: rotate3d(0, 1, 1, 2deg);  } to {opacity:1; transform: rotate3d(0, 0, 1, 0deg); }}
@keyframes fadeIn { from {transform-origin: bottom right; opacity:0; transform: rotate3d(0, 1, 1, 2deg);  } to {opacity:1; transform: rotate3d(0, 0, 1, 0deg);  }}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1; 
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  
   animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
   animation-duration:0.5s;

}

